.header__email {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: right;
    text-decoration-line: none;
    transition: 1s;
    font-size: 18px;
    line-height: 22px;
}