.profile__edit {
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
}

.profile__edit:hover .profile__avatar {
    transition: opacity 0.5s ease-out;
    opacity: 0.4;
}

.profile__edit:hover .profile__avatar-edit-button {
    opacity: 1;
}