.popup__edit {
    width: 100%;
    max-width: 430px;
    position: relative;
    padding: 34px 36px 37px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .popup__edit {
      max-width: 282px;
      padding: 25px 22px 25px 22px;
    }
  }