.elements__text {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 246px;
    padding: 25px 15px 25px 21px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }