.header__logo {
    max-width: 142px;
    height: 33px;
    padding-bottom: 41px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .header__logo {
        padding-bottom: 31.6px;
        width: 103px;
        height: 24px;
        margin: 0 0 0 27px;
    }
}